---
layout: page
title: Lands Reference 
---

<p class="message">
Quick Reference to each land in kingdoms at war.
</p>

<div class="related">
    <h1>KAW Lands</h1>
    <ul class="related-posts">
        {% for land in site.lands %}
        <li>
            {% if land.photo_path %}
                <img src="{{ land.photo_path }}" alt="{{ land.name }}" style="float:left; width:75px; margin:15px;" itemprop="image">
            {% endif %}
            
            <h2 style="float:left">
                <a href="{{ site.baseurl }}{{ land.url }}" itemprop="url" style=""><span itemprop="name"> {{ land.title }} </span></a>
            </h2>
            <br>
            <p  itemprop="description" style="float:left">
                    {{ land.description | truncate: 120 }}
            </p>
        </li>
        {% endfor %}
    </ul>
</div>
