
	<footer class="panel-footer">
		developed by <a href="https://www.affordableprogrammer.com">Affordable Programmer</a>
	</footer>

	<script src="{{ site.baseurl }}/public/js/jquery.dataTables.min.js"></script>
	<script src="{{ site.baseurl }}/public/js/dataTables.bootstrap.min.js"></script>
	<script src="{{ site.baseurl }}/public/js/dataTables.buttons.min.js"></script>
	<script src="{{ site.baseurl }}/public/js/buttons.bootstrap.min.js"></script>
	<script src="{{ site.baseurl }}/public/js/buttons.colVis.min.js"></script>
	<script src="{{ site.baseurl }}/public/js/bootstrap.min.js"></script>
	<script src="{{ site.baseurl }}/public/js/fileinput.js"></script>

	<script type="text/javascript">
		function myFunction() {
		  var input, filter, table, tr, td, i;
		  input = document.getElementById("myInput");
		  filter = input.value.toUpperCase();
		  table = document.getElementById("myTable");
		  tr = table.getElementsByTagName("tr");
		  for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[0];
			if (td) {
			  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
				tr[i].style.display = "";
			  } else {
				tr[i].style.display = "none";
			  }
			}
		  }
		}
	  </script>
